!Hide all images on sites where they aren't relevant
||$image,domain=pandora.com
||$image,domain=reddit.com
||$image,domain=news.ycombinator.com

!Faster scriptless reddit
||$script,domain=reddit.com
||$script,domain=news.ycombinator.com

!facebook.com##img
facebook.com##video
facebook.com###pagelet_sidebar
facebook.com###pagelet_navigation
facebook.com###pagelet_composer
facebook.com##.home_right_column
! News feed content
facebook.com##.userContentWrapper

||$image,domain=biblegateway.com
||$script,domain=biblegateway.com
||$font,domain=biblegateway.com
biblegateway.com##.passage-resources
biblegateway.com##.sys-announce-wrapper
biblegateway.com##.sidebar-wrap
biblegateway.com##header
biblegateway.com##.search-section
biblegateway.com##footer
biblegateway.com##.passage-bar
biblegateway.com##.passage-tools2

!Hide profile pictures on forums
##.ipsUserPhoto

!YouTube distraction removal
youtube.com###comments
youtube.com###related
youtube.com###guide-content
youtube.com###masthead-container
youtube.com###info-contents
youtube.com###subscribe-button
youtube.com##img
youtube.com###secondary

!Google distaction removal
google.com###searchform
google.com###extrares
google.com###footcnt
google.com#$##main{ margin-top:-75px }

!Wikipedia simplifications

!Hide sister project links
wikipedia.org##div[aria-labelledby="sister-projects"]

!Hide banner
wikipedia.org##.banner-container
wikipedia.org###siteNotice
wikipedia.org##.ambox

!Hide footer
wikipedia.org##.post-content 
wikipedia.org##.footer-content
wikipedia.org##.last-modifier-tagline

!Hide top subtitles
wikipedia.org###siteSub
wikipedia.org###contentSub

!Hide edit links
wikipedia.org##.mw-editsection
wikipedia.org###page-actions
wikipedia.org###edit-page

!TOC
wikipedia.org##.toctogglespan

!No link styles
wikipedia.org#$##content a{color:inherit !important}

!No backgrounds or borders
wikipedia.org#$#*{border:0px !important;background:none !important}

!Hide bottom nav and categories
wikipedia.org##.navbox
wikipedia.org##.vertical-navbox
wikipedia.org###catlinks
 
!Tighter text NPR layout
text.npr.org#$#body {max-width:600px;margin:auto}

duckduckgo.com##.header__search-wrap
duckduckgo.com##.footer

! Prevent many small images from loading on DuckDuckGo
||duckduckgo.com/assets/logo_header$important
||duckduckgo.com/i/$important
||duckduckgo.com/ip2/$important
||duckduckgo.com/ip3/$important
||duckduckgo.com/assets/icons/$important

||icons.duckduckgo.com$important

!HC Header removal (it's just super big)
houghton.edu###header_wrap
houghton.edu##.header
houghton.edu##.footer-new-wrap
houghton.edu###breadcrumbs
houghton.edu##.p-sidebar

!WU simplifications
www.wunderground.com##.region-favorites-bar
www.wunderground.com##.region-footer
||$image,domain=www.wunderground.com
||$script,domain=www.wunderground.com

!Time wasting landing page blocks
!Specific pages are still accessible, just not the root
||youtube.com^|$document
||facebook.com^|$document
||github.com^|$document
!||reddit.com^|$document
!||reddit.com/r/spacex$document
!||reddit.com/r/churning$document
!||reddit.com/r/funny$document
!||reddit.com/r/bitcoin$document
!||reddit.com/r/btc$document
!||reddit.com/r/finance$document
!||reddit.com/r/investing$document
!||reddit.com/r/politics$document
!||reddit.com/r/news$document
!||reddit.com/r/worldnews$document
!||reddit.com/r/broodwar$document
!||reddit.com/r/lego$document
!||reddit.com/r/programming$document
@@||reddit.com/r/*/comments$document
!||news.ycombinator.com^|$document
!||news.ycombinator.com/news^|$document
!||teamliquid.net^|$document
!||reuters.com^|$document
!||brickset.com^|$document

!Time wasting sites
!bitcoinity.org
!finance.google.com
!finance.yahoo.com
!news.google.com
!gdax.com

!SE hot and related questions
!These are in place on all sites since there are many SE sites
##.sidebar-related
###hot-network-questions
###newsletter-ad
###promo-box
##.bottom-share-links
###feed-link

!Background color fix for online Word documents
office.com,live.com,dropbox.com##.WordLastSectionBackground:style(background-color: white !important)

! 3/8/2018, 8:34:28 AM https://graphviz.readthedocs.io/en/stable/api.html
graphviz.readthedocs.io##.rtd-pro

!For some reason ublock isn't blocking these autoplaying ads for me
cdn.playwire.com

!Clean up Peoplesoft a little
!More vertical whitespace
psprd.anderson.edu##*:style(line-height:2em)
psprd.anderson.edu##a:style(height:unset !important)

!Recolor very orange nav
psprd.anderson.edu##header *:style(background-image:none !important; background-color:#444 !important)
psprd.anderson.edu##.ps_header *:style(background-image:none !important; background-color:#444 !important)

!Larger roster photos
psprd.anderson.edu##.PSIMAGE:style(height:400px !important; width:320px !important)
