!Hide all images on sites where they aren't relevant
||$image,domain=pandora.com
||$image,domain=reddit.com
||$image,domain=news.ycombinator.com

!Faster scriptless reddit
||$script,domain=reddit.com
||$script,domain=news.ycombinator.com

!facebook.com##img
facebook.com##video
facebook.com###pagelet_sidebar
facebook.com###pagelet_navigation
facebook.com###pagelet_composer
facebook.com##.home_right_column

!Hide profile pictures on forums
##.ipsUserPhoto

!YouTube distraction removal
youtube.com###comments
youtube.com###related
youtube.com###guide-content
youtube.com###masthead-container
youtube.com###info-contents
youtube.com###subscribe-button
youtube.com##img
!Move the page down since we don't have the header
youtube.com#$#ytd-app{ margin-top:-50px }

!Google distaction removal
google.com###searchform
google.com###extrares
google.com###footcnt
google.com#$##main{ margin-top:-75px }

duckduckgo.com##.header__search-wrap

!HC Header removal (it's just super big)
houghton.edu###header_wrap
houghton.edu##.header
houghton.edu##.footer-new-wrap
houghton.edu###breadcrumbs
houghton.edu##.p-sidebar

!Time wasting landing page blocks
!Specific pages are still accessible, just not the root
||youtube.com^|$document
||facebook.com^|$document
||reddit.com^|$document
||reddit.com/r/spacex$document
!||reddit.com/r/churning$document
||reddit.com/r/funny$document
||reddit.com/r/bitcoin$document
||reddit.com/r/btc$document
||reddit.com/r/finance$document
||reddit.com/r/investing$document
||reddit.com/r/politics$document
||reddit.com/r/news$document
||reddit.com/r/worldnews$document
||reddit.com/r/broodwar$document
||reddit.com/r/lego$document
||reddit.com/r/programming$document
@@||reddit.com/r/*/comments$document
||news.ycombinator.com^|$document
||news.ycombinator.com/news^|$document
||teamliquid.net^|$document

!Time wasting sites
bitcoinity.org
finance.google.com
finance.yahoo.com
news.google.com
gdax.com

!SE hot and related questions
!These are in place on all sites since there are many SE sites
##.sidebar-related
###hot-network-questions
###newsletter-ad
###promo-box

!Background color fix for online Word documents
office.com,live.com,dropbox.com##.WordLastSectionBackground:style(background-color: white !important)

! 3/8/2018, 8:34:28 AM https://graphviz.readthedocs.io/en/stable/api.html
graphviz.readthedocs.io##.rtd-pro
