!Hide all images on sites where they aren't relevant
||$image,domain=pandora.com
||$image,domain=reddit.com
||$image,domain=news.ycombinator.com
||$image,domain=lobste.rs

!Faster scriptless reddit
||$script,domain=reddit.com
||$script,domain=news.ycombinator.com

!Limit HN and lobste.rs to 10 stories
news.ycombinator.com##.itemlist tr:nth-child(n+30)
lobste.rs##.stories li:nth-child(n + 11)

!facebook.com##img
facebook.com##video
facebook.com###pagelet_sidebar
facebook.com###pagelet_navigation
facebook.com###pagelet_composer
facebook.com##.home_right_column
! News feed content
facebook.com##.userContentWrapper

||$image,domain=biblegateway.com
||$script,domain=biblegateway.com
||$font,domain=biblegateway.com
biblegateway.com##.passage-resources
biblegateway.com##.sys-announce-wrapper
biblegateway.com##.sidebar-wrap
biblegateway.com##header
biblegateway.com##.search-section
biblegateway.com##footer
biblegateway.com##.passage-bar
biblegateway.com##.passage-tools2

!Hide profile pictures on forums
##.ipsUserPhoto

!YouTube distraction removal
youtube.com###comments
youtube.com###related
youtube.com###guide-content
youtube.com###masthead-container
youtube.com###info-contents
youtube.com###subscribe-button
youtube.com##img
youtube.com###secondary
youtube.com##.ytd-watch-next-secondary-results-renderer

!Google distaction removal
google.com###searchform
google.com###extrares
google.com###footcnt
google.com#$##main{ margin-top:-75px }

!Wikipedia simplifications

!Hide sidebar and header
wikipedia.org###mw-panel
wikipedia.org###mw-head

!Hide sister project links
wikipedia.org##div[aria-labelledby="sister-projects"]

!Hide banner
wikipedia.org##.banner-container
wikipedia.org###siteNotice
wikipedia.org##.ambox

!Hide footer
wikipedia.org##.post-content 
wikipedia.org##.footer-content
wikipedia.org##.last-modifier-tagline
  
!Lighter news sites
||$image,domain=indystar.com
||$script,domain=indystar.com
||$font,domain=indystar.com
||$image,domain=heraldbulletin.com
||$script,domain=heraldbulletin.com
||$font,domain=heraldbulletin.com
||$image,domain=aljazeera.com
||$script,domain=aljazeera.com
||$font,domain=aljazeera.com

!Tighter text NPR layout
text.npr.org#$#body {max-width:600px;margin:auto}
text.npr.org#$#body {font-family:helvetica,arial,sans-serif;line-height:1.6em;font-size:20px;color:#444;}
text.npr.org#$#a {color:#379;text-decoration:none;}
!Hide extra elements
text.npr.org##body > p:nth-of-type(1)
text.npr.org##body > p:nth-of-type(2)
text.npr.org##body > p:last-of-type
text.npr.org##body > ul:last-of-type

!ebay
!item history
ebay.com##.srp-merch__items-list
ebay.com##.srp-merch__items-title
!search area
ebay.com###gh-logo
ebay.com##.srp-related-searches
!top nav
ebay.com##.gh-divider-l
ebay.com###gh-doodleS
!bottom
ebay.com##.srp-survey
ebay.com##.x-footer

duckduckgo.com##.header__search-wrap
duckduckgo.com##.footer

! Prevent many small images from loading on DuckDuckGo
||duckduckgo.com/assets/logo_header$important
||duckduckgo.com/i/$important
||duckduckgo.com/ip2/$important
||duckduckgo.com/ip3/$important
||duckduckgo.com/assets/icons/$important

||icons.duckduckgo.com$important

duckduckgo.com###header_wrapper
duckduckgo.com##.feedback-prompt
duckduckgo.com##.js-feedback-btn-wrap

stackoverflow.com##.top-bar
stackoverflow.com###js-gdpr-consent-banner
stackoverflow.com##footer
stackoverflow.com###left-sidebar
stackoverflow.com###sidebar
stackoverflow.com##.bottom-notice
stackoverflow.com##.s-notice

!Time wasting landing page blocks
!Specific pages are still accessible, just not the root
|https://youtube.com/|$document
|https://facebook.com/|$document
|https://github.com/|$document
|https://teamliquid.net/|$document
|https://tl.net/|$document
|https://brickset.com/|$document
|*reddit.com^|$document
|*reddit.com/r/spacex^|$document
|*reddit.com/r/churning^|$document
|*reddit.com/r/funny^|$document
|*reddit.com/r/bitcoin^|$document
|*reddit.com/r/btc^|$document
|*reddit.com/r/finance^|$document
|*reddit.com/r/investing^|$document
|*reddit.com/r/politics^|$document
|*reddit.com/r/news^|$document
|*reddit.com/r/worldnews^|$document
|*reddit.com/r/broodwar^|$document
|*reddit.com/r/lego^|$document
|*reddit.com/r/programming^|$document
!||news.ycombinator.com^|$document
!||news.ycombinator.com/news^|$document

|https://www.cnn.com/|$document
|https://www.msnbc.com/|$document
|https://www.foxnews.com/|$document
|https://www.npr.org/|$document
|https://reuters.com/|$document
realclearpolitics.com/|$document
fivethirtyeight.com/|$document
xkcd.com/|$document

!SE hot and related questions
!These are in place on all sites since there are many SE sites
##.sidebar-related
###hot-network-questions
###newsletter-ad
###promo-box
##.bottom-share-links
###feed-link
www.gravatar.com
##.user-gravatar32

!Clean up newegg
newegg.com###heroModule
newegg.com##.row-side-banners

!Clean up Amazon
||amazon.com^|$document
amazon.com###rhf
amazon.com##.w-recs

!Clean up Peoplesoft a little
!More vertical whitespace
psprd.anderson.edu##*:style(line-height:2em)
psprd.anderson.edu##a:style(height:unset !important)

!Recolor very orange nav
psprd.anderson.edu##header *:style(background-image:none !important; background-color:#444 !important)
psprd.anderson.edu##.ps_header *:style(background-image:none !important; background-color:#444 !important)

!Larger roster photos
psprd.anderson.edu##.PSIMAGE:style(height:400px !important; width:320px !important)
